# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
outgoing
incoming
*.db
/svcs/dd-ui/web/static
*.json
/inner/dd-nats-file-inner/dd-nats-file-inner
/inner/dd-nats-inner-proxy/dd-nats-inner-proxy
/outer/dd-nats-file-outer/dd-nats-file-outer
/outer/dd-nats-legacy-proxy/dd-nats-legacy-proxy
/outer/dd-nats-outer-proxy/dd-nats-outer-proxy
/outer/dd-nats-process-filter/dd-nats-process-filter
/outer/dd-nats-rabbitmq/dd-nats-rabbitmq
/outer/dd-nats-timescale/dd-nats-timescale
/svcs/dd-logger/dd-logger
/svcs/dd-ui/dd-ui
*.gz
